<div class="container">
    <div class="navbar-header">
        
        <a class="navbar-brand" href="#">
            <img class="navbar-brand-image" src="/img/logo.png">
            <span class="title">Harta Serviciilor Sociale</span><br />
            <span class="version">v.1.0</span>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <!--ul class="nav navbar-nav">
            <li><a href="grid.html">Grid</a></li>
        </ul-->
        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          </ul>
        
    </div>
    <!--/.nav-collapse -->
</div>